@charset "UTF-8";
/* CSS Document */



.about {
	padding-left: 5vw;
	padding-right: 5vw;
	display: flex;
	align-items: stretch;
}
#about6{
	display: block;
}
.about .text-column, .upcycler .text-column{
	padding-top: 5.5vw;
	padding-bottom: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
 .about .quote{
	padding-top: 3.5vw;
	padding-bottom: 3vw;
}
.about#about2, .about#about7, .about#about8{
	height: 50vw;
}
.about#about3, .about#about4, .about#about8{
	position: relative;
	/*display: inline-block;*/
	text-align: center;
	display: block;
}
.text-column {
	font-size: 1.2vw;
	font-weight: 150;
	text-align: left;
	line-height: 1.44vw;
	float: right;
	color: #666666;
}
.text-column p span{
	font-weight: bold;
}
.logo-column{
	width: 40vw;
	display: flex;
	flex-wrap: wrap;
}
.logo-row{
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	height: 26vw;
	padding-top: 4vw;
}
.quote {
	width: 30vw;
	text-align: left;
	line-height: 2.4vw;
	color: #777777;
	font-size: 2vw;
}
.quotew, .quoteb {
	width: inherit;
}
.quoteb{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 35vw;
	padding-bottom: 5vw;
}
.quotew p{
	width: inherit;
}
.quoteb p{
	width: 20vw;
	padding-left: 0vw;
	padding-right: 0vw;
	font-size: 1.45vw;
	line-height: 2vw;
}
.quoteb .tag{
	font-size: 1.3vw;
}
.quote-bar {
	width: 90vw;
	text-align: left;
	line-height: 2.4vw;
	color: #666666;
	font-size: 2vw;
}
.bar {
	padding-top: 2vw;
	margin-top: -1px;
	font-weight: 200;
	float: left;
	line-height: 2.7vw;
}
.has-lots-of-text{
	font-size: 1.8vw;
	font-weight: 100;
	line-height: 2.2vw;
}
.really-has-lots-of-text{
	font-size: 1.7vw;
	font-weight: 100;
	line-height: 2.3vw;
}
.font-is-1-5{
	font-size: 1.5vw;
}
#values-left {
	padding-top: 11vw;
	padding-bottom: 1vw;
	text-align: right;
}
#values-left .quotew{
	height: 38vw;
}
#values-left .quotew p{
	height: 7.6vw;
	padding-top: 0;
}
.is-a-little-lowered{
	padding-top: 2vw;
}
.is-lowered{
	padding-top: 5vw;
	margin-top: -0.01vw;
}
.tag {
	padding-top: 2.5vw;
	font-size: 1.5vw;
	font-weight: 150;
	float: left;
}
.is-centered{
	width: 30vw;
	text-align: center;
}
.tight-tag{
	line-height: 1.5vw;
	padding-top: 0.5vw;
	padding-bottom: 5vw;
	font-size: 1.3vw;
	font-weight: 150;
	float: left;
	text-align: center;
}
.is-indented{
	padding-left: 5vw;
}
.design-box-press{
	position: relative;
	display: inline-block;
    /*background: #FFFFFF;*/
    width: 220px;
    height: 220px;
	color: #777777;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
	/*-webkit-box-shadow: inset -2px 2px 7px 0px rgba(140,140,140,0.5);
	-moz-box-shadow: inset -2px 2px 7px 0px rgba(140,140,140,0.5);
	box-shadow: inset -2px 2px 7px 0px rgba(140,140,140,0.5);*/
	text-align: left;
}
.design-box-partner{
	position: relative;
	display: inline-block;
    /*background: #FFFFFF;*/
    width: 13vw;
    height: 8vw;
	color: #777777;
	margin: 2.5vw;
	/*-webkit-box-shadow: inset -2px 2px 7px 0px rgba(140,140,140,0.5);
	-moz-box-shadow: inset -2px 2px 7px 0px rgba(140,140,140,0.5);
	box-shadow: inset -2px 2px 7px 0px rgba(140,140,140,0.5);*/
	text-align: left;
}
#truck{
	/*position: absolute;
	top: 3.5vw; left: 5vw;*/
	width: 25vw;
}
#screenshot1{
	position: absolute;
	top: 7vw; left: 7vw;
	width: 25vw;
}
#screenshot2{
	position: absolute;
	top: 15vw; left: 17vw;
	width: 25vw;
}
#receivingFloor{
	position: absolute;
	top: 13.5vw; left: 35vw;
	width: 11.7647vw;
}
#indicator100{
	position: absolute;
	top: 26.8vw; left: 42.5vw;
	width: 4.04412vw;
}
#vertical-conveyor{
	position: absolute;
    top: 88.2vw; left: 46.6vw;
    width: 2.8676vw;
}
#process-flow-arrow{
	position: absolute;
    top: 112.75vw; left: 48.5vw;
    width: 10.3676vw;
}
#goodimage{
	display: inline-block;
}
#goodimage img{
	width: 80px;
	height: 80px;
}
#tasteimage img{
	height: 80px;
}
#testemonials .tag{
	padding-top: 0.5vw;
	font-size: 1.4vw;
	font-style: italic;
}
#testemonials .bar{
	padding-top: 3.3vw;
}
#testemonials .tag span{
	font-style: normal;
}
#seife{
	height: 6vw;
}
#rerefunnel{
	width: 30vw;
	padding-top: 5vw;
	margin-bottom: -4vw;
}
#rereatwork{
	width: 37vw;
	padding-top: 1vw;
}
#rereatworktag{
	padding-left: 5vw;
	margin-top: -0.5vw;
}