@charset "UTF-8";
/* CSS Document */


  body, html {
    overflow: hidden;
    padding-bottom: 700px !important;
  }

  body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: rgba(33,33,33,1.00);
	transform: translateZ(0);
  }
.text-is-white{
	color: rgba(255,255,255,1);
}
.background-is-white{
	background-color: rgba(255,255,255,1);
}
.background-is-grey{
	background: linear-gradient(to left top, rgba(235,235,235,1), rgba(250,250,250,1));
}
.background-is-white-ish{
	background: linear-gradient(to left top, rgba(245,245,245,1), rgba(255,255,255,1));
}
.tmask {
    font-size: 150px; font-family: Verdana; font-weight: bold;
    background: url(C16.jpg);
    -webkit-background-clip: text;
    color: transparent;
}

/* -- Height of parallax groups -- */

.height-is-40{
	height: 40vw;
}
.height-is-50{
	height: 50vw;
}
.height-is-70{
	height: 70vw;
}
.height-is-90{
	height: 90vw;
}
.height-is-120{
	height: 120vw;
}
.height-is-130{
	height: 130vw;
}
.height-is-140{
	height: 140vw;
}
.height-is-160{
	height: 160vw;
}
.height-is-230{
	height: 230vw;
}

.width-is-100{
	width: 100vw;
}

.shift-is-10-20{
	transform: translateY(-10vw);
    margin-bottom: -20vw;
}

.hidden{
    visibility: hidden;
    display: none;
}
.visible{
	visibility: visible;
}
.fade-out{
	color: rgba(255,255,255,0);
	transition: 0.5s ease;
	-webkit-transition: all 0.5s ease-in-out;
}
.fade-in{
	color: rgba(255,255,255,1);
	transition: 0.5s ease;
	-webkit-transition: all 0.5s ease-in-out;
}

.design-container{
	width: 20vw;
}
.design-container-is-14{
	width: 14vw;
}
.design-container-is-6{
	width: 6vw;
}
.design-box{
	height: 25vw;
}
.design-bar-h-5-w-90{
	width: 90vw;
	height: 5vw;
}
.design-bar-h-2-w-90{
	width: 90vw;
	height: 2.5vw;
}
.design-bar-h-2-w-40{
	width: 40vw;
	height: 2.5vw;
}

.stats {
	color: #777777;
	margin-bottom: 0.3vw;
}
.gallery {
	display: flex;
	clear: both;
	align-items: flex-end;
	justify-content: space-evenly;
	width: 100%;
	transform: translateY(50vw);
	padding-bottom: 1.5vw;
}
.gallery a{
	text-decoration: none;
	color: inherit;
}
.thumbnail {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.tntext{
	text-align: left;
	width: 15vw;
}
.tnright{
	padding-top: 0.5vw;
	align-items: flex-end;
	text-align: right;
	width: 15vw;
}
.gallery .thumbnail p {
	font-size: 1vw;
	margin-top: 0.2vw;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #AAAAAA;
}
.gallery .thumbnail h3{
	font-size: 1.2vw;
}
.logofoot{
	width: 12vw;
	padding-top:  1.25vw;
	padding-bottom: 0.75vw;
	padding-right: -1vw;
}
.infomail{
	text-decoration: underline;	
}
.phonumber{
	text-decoration: underline;	
}
.legaldc{
	column-count: 4;
	color: rgba(255,255,255,1);
	padding-top: 12vw;
	padding-left: 3vw;
	padding-right: 2vw;
	position: inherit;
	display: none;
	z-index: 9;
}
.legaldc h3{
	font-size: 1.4vw;
	padding-left: 3vw;
}
.legaldc div{
	padding-top: 2vw;
}
.legaldc h4{
	padding-bottom: 0.5vw;
	font-size: 1.2vw;
}
.legaldc p{
	font-size: 0.8vw;
	padding-bottom: 0.3vw;
}
.logodisc{
	position: absolute;
	width: 3vw;
	margin-left: -1.5vw;
}

/*Checkbutton disclaimer*/

.legaldc input { display: none; }

#dsccb1:checked ~ div div .legaldc {
	display: inherit;
}

input:checked:nth-child(1) + #navigationbar {
	visibility: hidden;
	display: none;
}

.clicklink{
	font-size: 1vw;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
.clicklink:hover {
	cursor: pointer;
	color: rgba(250,250,250,1);
}
.text-column p a {
	text-decoration: none;
	background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, rgba(111,181,75,1), rgba(94,174,91,1), rgba(82,169,104,1), rgba(64,164,119,1), rgba(44,158,130,1), rgba(0,154,142,1), rgba(0,149,155,1), rgba(0,143,176,1), rgba(0,138,191,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, rgba(111,181,75,1), rgba(94,174,91,1), rgba(82,169,104,1), rgba(64,164,119,1), rgba(44,158,130,1), rgba(0,154,142,1), rgba(0,149,155,1), rgba(0,143,176,1), rgba(0,138,191,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, rgba(111,181,75,1), rgba(94,174,91,1), rgba(82,169,104,1), rgba(64,164,119,1), rgba(44,158,130,1), rgba(0,154,142,1), rgba(0,149,155,1), rgba(0,143,176,1), rgba(0,138,191,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, rgba(111,181,75,1), rgba(94,174,91,1), rgba(82,169,104,1), rgba(64,164,119,1), rgba(44,158,130,255), rgba(0,154,142,1), rgba(0,149,155,1), rgba(0,143,176,1), rgba(0,138,191,1)); /* Standard syntax */
	-webkit-text-fill-color: transparent;
  	-webkit-background-clip: text;
}