@charset "UTF-8";
/* CSS Document */

/* --- iParallax base styles --- */

.iparallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-perspective: 300px;
    perspective: 300px;
    /*clear: both;*/
}
.parallaxGroup {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.hackyGroup {
    transform-style: flat;
    height: initial;
    min-height: initial;
}
.iparallaxLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.foregroundLayer {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 6;
}
.baseLayer {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 5;
}
.nearBackgroundLayer {
    -webkit-transform: translateZ(-180px) scale(1.6);
    transform: translateZ(-180px) scale(1.6);
    z-index: 4;
}
.backgroundLayer {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}
.deepBackgroundLayer {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}
* {
    margin:0;
    padding:0;
}

/* --- style the groups --- */

  #group0 {
	font-size: 3vw;
  transform: translateY(50vw) translateY(-100vh);
  z-index: 3
  }

.shift-foooter{
    margin-top: 0vw;
    /*transform: translateY(35vw) translateY(-35vh);*/
}
  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */
    /*transform: translateZ(0px) scale(1.0, 1.0);*/
  }

/* -- Team group height dependent on number of columns -- */

#groupa3, #groupa5, #groupa7, #groupa9, #groupa11, #groupa13{
    font-size: 3vw;
    z-index: 4;
}
#groupa4{
    z-index: 5;
    height: calc(6720px + 10vw);
}
#groupa6{
    z-index: 5;
    height: calc(1680px + 10vw);
}
#groupa8, #groupa10, #groupa12{
    z-index: 5;
}
@media (min-width: 828px) {
  #groupa4{
    height: calc(2240px + 10vw);
  }
  #groupa6{
    height: calc(1120px + 10vw);
  }
}
@media (min-width: 1245px) {
  #groupa4{
    height: calc(1680px + 10vw);
  }
  #groupa6{
    height: calc(560px + 10vw);
  }
}
@media (min-width: 1661px) {
  #groupa4{
    height: calc(1120px + 10vw);
  }
}